<h1>FIRST ANGULAR APP</h1>
<h2>{{title}}</h2><!----------string interpolotation-->
<p>{{3+3}}</p>
<!--<img [src]="ImgUrl" alt="">&lt;!&ndash;-&#45;&#45;property binding-&#45;&#45;&ndash;&gt;-->
<button disabled="{{isDisabled}}">disabled button using string interpolation</button>
<br>
<button [disabled]="isDisabled">disabled button using property binding</button>
<br>
<!-------class binding------>

<button [class.active]="isActive"
        [class.no-active]="!isActive"
        [class.active_border]="isActive"
        [class.no-active-border]="!isActive" >
  click me</button>
<br>

<!---------css binding---->
<button [class.apple]="fruitName =='Apple'" >Fruit Ninja</button>
<br>
<!--------sytle binding------->
<button [style.background]="isActive?'red':'green'"
        [style.border]="isActive?'3px solid yellow':'' " >click</button>
<br>


<!--------event binding------>
<button (click)="buttonclick()">click me</button>
